<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dog Predictor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<div class="container">
    <section class="header">
        <h2 class="title">Dog Identifier</h2>
    </section>
    <div class="docs-section">
        <h6>Upload a dog</h6>
        <p>Upload a photo of any dog here and get a prediction for its breed.</p>
        <form action="{{ url_for('predict') }}" method="post" enctype="multipart/form-data">
            <input type="file" id="file" name="file">
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
</body>
</html>