<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dog Predictor</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:400,300,600" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}" type="text/css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<div class="container">
    <section class="header">
        <h2 class="title">Prediction</h2>
    </section>
{#    <div class="docs-section">#}
{#        #}
{#    </div>#}
    <table class="u-full-width">
        <thead>
            <tr>
                <th>Breed</th>
                <th>Probability</th>
            </tr>
        </thead>
        <tbody>
        {% for predication in predications %}
            <tr>
                <td>{{ predication.class_name }}</td>
                <td>{{ '{0:.2%}'.format(predication.class_prob) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="button" href="/">Back</a>
</div>
</body>
</html>